@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,200&display=swap");

.description ul,
ol {
  list-style: none;
  padding-left: 0em;
}
.image {
  background-size: cover;
  background-position: bottom;
  height: 30%;
  margin-bottom: 10px;
}

.card {
  width: 300px !important;
  max-height: 600px;
  font-family: "Montserrat", sans-serif;
}

.ui.card > .content > .header {
  font-size: 18px !important;
}
