@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,200&display=swap");

.description ul,
ol {
  list-style: none;
  padding-left: 0em;
}
.ui.image {
  background-size: cover !important;
  height: 20% !important;
}

.ui.card {
  margin: 0 15px 15px 15px !important;
  width: 500px !important;
  height: 600px !important;
  font-family: "Montserrat", sans-serif;
}

.ui.card > .content > .header {
  font-size: 20px !important;
}
.ui.card > .content > .meta {
  margin-top: 10px !important;
  font-size: 15px !important;
}
.ui.card > .content > .description {
  margin-top: 25px !important;
  font-size: 18px !important;
}
